http://grafana.{$RICARDO_BACKEND_DOMAIN} {
	@ws {
		header Upgrade websocket
		header Connection *Upgrade*
	}
    reverse_proxy grafana:3000
	reverse_proxy /api/live/* @ws grafana:3000
}

http://backend.{$RICARDO_BACKEND_DOMAIN} {
	reverse_proxy ricardo-backend:1337
	reverse_proxy /socket.io/* ricardo-backend:1337
}
