home.{$RICARDO_BACKEND_DOMAIN} {
	# Use self-signed certificates
	tls internal

	# Serve index file
	root * /www/html
	file_server
}

backend.0.{$RICARDO_BACKEND_DOMAIN} {
	# Use self-signed certificates
	tls internal

	# Proxy Flask, Socket.IO, and Websockets
	reverse_proxy ricardo-backend_0:1337
	reverse_proxy /socket.io/* ricardo-backend_0:1337
	reverse_proxy /ws/* ricardo-backend_0:1338
}

command.0.{$RICARDO_BACKEND_DOMAIN} {
	# Use self-signed certificates
	tls internal

	# Proxy Command Server
	reverse_proxy ricardo-commandserver_0:1339
}

backend.1.{$RICARDO_BACKEND_DOMAIN} {
	# Use self-signed certificates
	tls internal

	# Proxy Flask, Socket.IO, and Websockets
	reverse_proxy ricardo-backend_1:1337
	reverse_proxy /socket.io/* ricardo-backend_1:1337
	reverse_proxy /ws/* ricardo-backend_1:1338
}

command.1.{$RICARDO_BACKEND_DOMAIN} {
	# Use self-signed certificates
	tls internal

	# Proxy Command Server
	reverse_proxy ricardo-commandserver_1:1339
}

grafana.{$RICARDO_BACKEND_DOMAIN} {
	# Add handler for Websockets
	@ws {
		header Upgrade websocket
		header Connection *Upgrade*
	}

	# Use self-signed certificates
	tls internal

	# Proxy Grafana (and its websocket connections)
	reverse_proxy grafana:3000
	reverse_proxy /api/live/* @ws grafana:3000
}

questdb.{$RICARDO_BACKEND_DOMAIN} {
	# Use self-signed certificates
	tls internal

	# Proxy QuestDB
	reverse_proxy questdb:9000
}
